/*GENERAL*/

:root {
    --primary-100:#d4eaf7;
    --primary-200:#b6ccd8;
    --primary-300:#3b3c3d;
    --accent-100:#71c4ef;
    --accent-200:#00668c;
    --text-100:#1d1c1c;
    --text-200:#313d44;
    --bg-100:#fffefb;
    --bg-200:#f5f4f1;
    --bg-300:#cccbc8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-100);
    box-sizing: border-box;
}

a, p {
    color: var(--text-200);
    font-size: small;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h6, h5, h4, h3, h2, h1 {
    color: var(--text-100);
}

img {
    max-width: 100%;
    height: auto;
}

section {
    margin-top: 30px;
}

.logo {
    min-width: 120px;
    min-height: 120px;
    max-width: 180px;
    max-height: 180px;
}


/* HEADER*/

header {
    display: flex;
    justify-content: space-evenly;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header nav ul li {
    display: list-item;
}

/*MAIN*/

/*HERO*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-label {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-100);
    justify-content: center;
    align-items: center;
    position: sticky;

    width: 400px;
    height: 400px;

}

.hero-label h2 {
    font-family: 'Pacifico', cursive;
}

.hero-image {
    min-width: 400px;

    max-width: 700px;
    max-height: 700px;

}

/*SLIDER*/

.slider{
    position: relative;
    width: 100%;
    overflow: hidden;

}

.slider__slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slider__slide{
    min-width: 100%;
    flex: 0 0 100%;
}

.slider__slide img {
    width: 100%;
    height: 400px;
}
  

.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
}
  
.slider__prev {
    left: -30px;
}
  
.slider__next {
    right: -30px;
}


/*DONATION APPROACHES*/

.donation-approach {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.approaches {
    display: flex;
}

.approaches figure {
    display: flex;
    justify-content: center;
    background-color: var(--bg-200);
    align-items: center;
    flex-direction: column;
    max-width: 200px;
    min-width: 100px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 30px 44px 0px rgba(200, 200, 200, 0.25);
}

.approaches figure:hover {
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.9);
}

/*GALLERY*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-box {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows:  1fr 1fr;
    grid-gap: 10px;
}

.photo-box img{
    border-radius: 20px;
}

.photo-box button {
    border-radius: 20px;
    border: hidden;
    background-color: var(--primary-200);
    font-family: 'Jost', sans-serif;
    cursor: pointer;
}


.photo-box button:hover {
    border: 2px solid var(--accent-200);
}

/*NEWS*/

.news {
    display: flex;
    flex-direction: column;
}

.news h1 {
    align-self: center;
}

.news-box {
    display: flex;
    flex-direction: column;

}

.news-box figure {
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;

}

.news-box figure img {
    width: 220px;
    height: 220px;
}

.news-box .info {
    flex-direction: column;
    display: flex;

}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

footer nav ul {
    padding: 0;
    list-style-type: none;
}

footer nav ul li {
    display: list-item;
}

footer nav ul li a {
    font-weight: 500;
}

footer hr {
    border: 1px solid var(--Dark, #0A142F);
    opacity: 0.06;
    background: var(--Dark, #0A142F);
    width: 80%;
    height: 3px;
}

.social-medias {
    display: flex;
    gap: 10px;
}

.social-medias img {
    border-radius: 50%;
}

.social-medias img:hover {
    box-shadow: 0 0 1px var(--primary-300);
}




